<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./style.css">
    <title>Ascii Art Web Stylize</title>
</head>

<body>
    <h1>ASCII ART WEB STYLIZE</h1>
    <div>
        <form action="/ascii-art" method="POST">
            <span><b>Fonts:</b></span>
            <label for="standard"><input type="radio" id="standard" name="banner" value="standard" required>
                Standard</label>
            <label for="shadow"><input type="radio" id="shadow" name="banner" value="shadow" required>
                Shadow</label>
            <label for="thinkertoy"><input type="radio" id="thinkertoy" name="banner" value="thinkertoy" required>
                Thinkertoy</label><br><br>
            <textarea name="text" id="text" cols="50" rows="4" placeholder="Type your text here"
                required>{{.Input}}</textarea><br><br>
            <button type="submit" name="submit">Submit</button>
        </form><br>

    </div>

    <pre><textarea cols="120" rows="8"  wrap="off" readonly placeholder={{.Text}}></textarea>
    </pre>
</body>

</html>